@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-left {
    border-radius: 5px 0 0 5px;
}

.rounded-right {
    border-radius: 0 5px 5px 0;
}

.rounded-btm {
    border-radius: 0rem 0rem 1.5rem 1.5rem;
}

.messenger-linear {
    background: linear-gradient(
    to top right,
    #188AFF 0%,    
    #B439E6 50%,   
    #FF6C65 100%   
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}